@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/MuseoSans_500.woff2') format('woff2'),
    url('./fonts/MuseoSans_500.woff') format('woff');
}
@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/MuseoSans_700.woff2') format('woff2'),
    url('./fonts/MuseoSans_700.woff') format('woff');
}
@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/MuseoSans_900.woff2') format('woff2'),
    url('./fonts/MuseoSans_900.woff') format('woff');
}
